@use "./base.scss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
  --bodyFont: "Inter", sans-serif;
  --headerFont: "Inter", sans-serif;
}

:root[saved-theme="dark"] {
  --background: #1e1e2e;
  --darkgray: #cdd6f4;
  --gray: #a6adc8;
  --lightgray: #313244;
  --highlight: #45475a;
  --tertiary: #89b4fa;
  --secondary: #cba6f7;
}